@import './config.less';

.hero6e.actor.sheet {
  .column-header {
    font-weight: bold;
  }

  .section-header {
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    text-align: center;
  }

  input.characteristic {
    text-align: right;
  }

  .tab.skills {
    .item-name {
      flex: 4;
    }
  }
}
