.hero6e.sheet {
  h1 > input {
    height: 1.5em;
  }

  img.profile {
    flex: 0 0 100px;
    max-width: 100px;
    height: 100px;
    object-fit: contain;
    border: none;
    border-right: 2px groove #eeede0;
  }

  .block {
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
  }

  .details {
    align-items: flex-start;
  }

  .editor {
    height: 100%;
    width: 100%;
  }
}
