<form>
  <div class="form-group">
    <label class="mr-1">{{localize "hero6e.Modifier"}}</label>
    <button class="modifier-minus"><i class="fas fa-minus"></i></button>
    <input class="mx-1" type="text" name="modifier" value="0" />
    <button class="modifier-plus"><i class="fas fa-plus"></i></button>
  </div>
</form>
