<form>
  <div class="form-group">
    <label>{{localize "hero6e.Modifier"}}</label>
    <button id="minusButton"><i class="fa fa-minus"></i></button>
    <input type="text" name="modifier" value="0" />
    <button id="plusButton"><i class="fa fa-plus"></i></button>
  </div>
</form>
