<form>
  <div class="form-group">
    <label class="mr-1">{{localize "hero6e.Modifier"}}</label>
    <button class="modifier-minus">{{icon "minus"}}</button>
    <input class="mx-1" type="text" name="modifier" value="0" />
    <button class="modifier-plus">{{icon "plus"}}</button>
  </div>
</form>
