<form>
  <div class="form-group">
    <label>{{localize "hero6e.Modifier"}}</label>
    <button class="modifier-button-minus"><i class="fas fa-minus"></i></button>
    <input type="text" name="modifier" value="0" />
    <button class="modifier-button-plus"><i class="fas fa-plus"></i></button>
  </div>
</form>
